[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
